// Tailwind styles
@tailwind base;
@tailwind components;
@tailwind utilities;

// PirmeNG styles
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b19df7 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #b19df7;
    border-radius: 10px;
    border: 5px solid transparent;
}